= render 'main/header'
            
.LogoutHeader
  %ul.LogoutHeader__menu
    %li.LogoutHeader__menu1 
      メルカリ 
      %i.fas.fa-angle-right
    %li.LogoutHeader__menu2 
      マイページ
      %i.fas.fa-angle-right
    %li.LogoutHeader__menu3 
      ログアウト
      %i.fas.fa-angle-right

.SideBarWrap
  = render 'sidber'

.LogoutBlock
  .LogoutBlock--LogoutBtn
  = link_to ("https://ja-jp.facebook.com/") do 
    %button.btn-default.btn-red{type: "submit"} ログアウト
  
= render 'main/footer'