.sid-ber
  .nav
    %ul.nav--list
      %li.art
        %a{href:"http://localhost:3000/users/show"} マイページ
      %li.art
        %a{href:"https://master.tech-camp.in/"}お知らせ
      %li.art
        %a{href:"https://master.tech-camp.in/"}やることリスト
      %li.art
        %a{href:"https://master.tech-camp.in/"}いいね！一覧
      %li.art
        %a{href:"https://master.tech-camp.in/"}出品する
      %li.art
        %a{href:"https://master.tech-camp.in/"}出品した商品ー出品中
      %li.art
        %a{href:"https://master.tech-camp.in/"}出品した商品ー取引中
      %li.art
        %a{href:"https://master.tech-camp.in/"}出品した商品ー売却済み
      %li.art
        %a{href:"https://master.tech-camp.in/"}購入した商品ー取引中
      %li.art
        %a{href:"https://master.tech-camp.in/"}購入した商品ー過去の取引
      %li.art
        %a{href:"https://master.tech-camp.in/"}ニュース一覧
      %li.art
        %a{href:"https://master.tech-camp.in/"}評価一覧
      %li.art
        %a{href:"https://master.tech-camp.in/"}ガイド
      %li.art
        %a{href:"https://master.tech-camp.in/"}問い合わせ
    %h3
      メルペイ
    %ul.nav--list
      %li.art
        %a{href:"https://master.tech-camp.in/"}売上・振込申請
      %li.art
        %a{href:"https://master.tech-camp.in/"}ポイント
    %h3
      設定
    %ul.nav--list
      %li.art
        %a{href:"https://master.tech-camp.in/"}プロフィール
      %li.art
        %a{href:"https://master.tech-camp.in/"}発送元・お届け先¥n住居変更
      %li.art
        %a{href:"https://master.tech-camp.in/"}支払い方法
      %li.art
        %a{href:"https://master.tech-camp.in/"}メール/ パスワード
      %li.art
        %a{href:"https://master.tech-camp.in/"}本人情報
      %li.art
        %a{href:"https://master.tech-camp.in/"}電話番号の確認
      %li.art
        %a{href:"https://master.tech-camp.in/"}ログアウト