%head
%body{bgcolor:"#ffffff"}
  .header2
    .h-top
      %a{href:"https://master.tech-camp.in/"}
        %img{alt:"mercari", src:"//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?465897195"}/
    .h-buttom
      %ul
        .dankai-box
          %li
            %font{color:"#ff0000"}会員情報
            %font{color:"#ff0000"}
              .maru1 ●
            .box
              %hr{color:"#ff0000"}
        .dankai-box
          %li
            %font{color:"#ff0000"}電話番号認証
            %font{color:"#ff0000"}
              .maru1 ●
            .box
              %hr{color:"#ff0000"}
        .dankai-box
          %li
            %font{color:"#ff0000"}住所入力
            %font{color:"#ff0000"}
              .maru1 ●
            .box
              %hr{color:"#ff0000"}
        .dankai-box
          %li
            %font{color:"#ff0000"}支払い方法
            %font{color:"#ff0000"}
              .maru1 ●
            .box
              %hr{color:"#ff0000"}
        .dankai-box
          %li
            %font{color:"#ff0000"}完了
            %font{color:"#ff0000"}
              .maru1 ●
  
  .main1
    .main1__toptext
      登録完了
    .main1__buttomtext
      %p.kan ありがとうございます。
      %p.kan 会員登録が完了しました。
      %button.back-home{onclick:"location.href='http://localhost:3000/users/mypage'",type:"“button”"}メルカリをはじめる
  .top-footer
    %p \　スマホでかんたんフリマアプリ　/
    %h3 今すぐ無料ダウンロード！
    .middle-app-google
      %img{src:"https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2651893653"}
      %img{src:"https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2651893653"}
    %img.smart-phone{src:"/assets/download_content_pc.png"}
  .footer
    %ul
      %li
        %a{:href => "https://www.mercari.com/jp/privacy/"}
          プライバシーポリシー
      %li
        %a{:href => "https://www.mercari.com/jp/tos/"}
          メルカリ利用規約
      %li
        %a{:href => "https://www.mercari.com/jp/tokutei/"}
          特定商取引に関する表記
    %br
    %br
    %a.single-footer-logo{:href => "https://www.mercari.com/jp/"}
      %img{src:"/assets/logo-gray.svg"}
    .footer__bottom
      %p © 2019 Mercari