!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %link{rel: "stylesheet", href: "https://use.fontawesome.com/releases/v5.6.3/css/all.css"}
    %script{src:"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0", :name => "viewport"}/
    %script{src:"/assets/mypage.js"}
  %body{width:"device-width"}
    .whole
      .container
        .main_box
          .main
            .main__user_icon
              %figure
                %img{src:"/assets/member_photo_noimage_thumb.png"}
              %h2.main__user_icon--name
                user
              .main__user_icon--number
                %div
                  評価
                  %span.num
                    0
                %div
                  出品数
                  %span.num
                    0
            %ul.main__user_tabs
              %li.main__user_tabs--menu.active
                %h3
                  お知らせ
              %li.main__user_tabs--menu
                %h3
                  やることリスト
            %ul.contents
              %li.contents__mainlist.show
                %ul
                  %li
                    %img{src: "/assets/mercari_profile.png"}
                    .main__contents--box
                      %p
                        事務所から個別メッセージ「ログイン通知」
                      %i.far.fa-clock
                      %time
                        30分前
                  %li
                    %img{src: "/assets/mercari_profile.png"}
                    .main__contents--box
                      %p
                        ３日後、P999還元クーポンの有効期限が切れます！タップして詳細を確認しましょう
                      %i.far.fa-clock
                      %time
                        １時間前
                  %li
                    %img{src: "/assets/mercari_profile.png"}
                    .main__contents--box
                      .main__contents--box-text
                        《ご登録記念》¥1000の商品を「実質１円」でご購入いただけます！
                      %i.far.fa-clock
                      %time
                        １日前
              %li.contents__mainlist
                %ul
                  %li
                    %img{src: "/assets/mercari_profile.png"}
                    .main__contents--box
                      .main__contents--box-text
                        ご登録のメールアドレスに認証メールを送ろました。メールに記載のURLをクリックして、メールアドレスを認証してください
                      %i.far.fa-clock
                      %time
                        １日前
          
          .buy_product
            .buy_product__title
              %h2
                購入した商品
            %ul.buy_product__transactions
              %li.buy_product__transactions--menu.active2
                %h3
                  取引中
              %li.buy_product__transactions--menu
                %h3
                  過去の取引
                  
            %ul.contents2
              %li.contents2__mainlist2.show2
                %ul
                  %li
                    .massage--box
                      %p
                        取引中の商品はありません

              %li.contents2__mainlist2
                %ul
                  %li
                    %img{src: "/assets/mercari_profile.png"}
                    .contents2__mainlist2--box2
                      %p
                        ご登録のメールアドレスに認証メールを送ろました。メールに記載のURLをクリックして、メールアドレスを認証してください
                      %i.far.fa-clock
                      %time
                        １日前
        = render partial: 'sidber'