.nice{
  width: 700px;
  //メイン下部、について//
  &__title{
    padding: 12px 4%;
    border-bottom: 1px solid #f5f5f5;
    background-color: #fff;
    font-size: 18px;
    
    h2{
      line-height: 1.4;
      font-weight: bold;
    }
  }
  //リスト以下の範囲//
  .contents2{
    background-color: #f5f5f5;
    &__mainlist2{
      list-style: none;
      display: none;
      .nice--box{
        height: 236px;
        background-image: url("/assets/f6c64e435ecb89cf94b0a61c2beda92b.png");
        background-size: 700px;
        p{
          font-size: 14px;
          font-weight: bold;
          text-align: center;
          line-height: 330px;
          color: rgb(200, 200, 200);
        }
      }
    }
    .show2 {
      display: block;
    }
  }
}