.LogoutHeader {
  font-size:14px;
  padding:16px 0px;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position:relative;
  &__menu {
  display: -webkit-flex;
  display: flex;
  margin-left:210px;
  }
  &__menu1 {
    padding-left:20px;
  }
  &__menu2 {
    padding-left:20px;
  }
  &__menu3 {
    padding-left:20px;
  }
}

.LogoutBlock {
  width:320px;
  height:50px;
  padding:60px 110px;
  background-color: #fff;
  margin-top:40px;
  margin-left:490px;
}

.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align:center;
}

.SideBarWrap {
  margin-left:200px;
  margin-top:40px;
}